name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:    
  Solution_Name: 'src/CrashLog.sln'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
      
    - name: Nuget Restore
      run: nuget restore ${{ env.Solution_Name }}
      
    - name: GitVersion
      id: gitversion
      uses: gittools/actions/gitversion@v1
      with:
        path-to-gitversion: packages/GitVersion.CommandLine/tools/GitVersion.exe
  
    - name: Create Release
      uses: actions/create-release@v1
      with:
        tag_name: ${{ steps.gitversion.outputs.SemVer }}
  
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    - name: MSBuild
      run: msbuild ${{ env.Solution_Name }}
