name: Release

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
    
env:    
  Solution_Name: 'src/CrashLog.sln'
  

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    #- name: Verify commit exists in origin/main
    #  run: |
    #    git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
    #    git branch --remote --contains | grep origin/main
        
    #- name: Set VERSION variable from tag
    #  run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      
    - name: Set VERSION variable from tag
      run: echo ("BRANCH_NAME=" + $env:GITHUB_REF.replace('refs/tags/v', '')) >> $env:GITHUB_ENV
    
    - run: echo $env:BRANCH_NAME

    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
      
    - name: Nuget Restore
      run: nuget restore ${{ env.Solution_Name }}
 
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    - name: MSBuild
      run: msbuild ${{ env.Solution_Name }}
      
    - name: Nuget Pack
      run: nuget pack 'src/ArieTech.Plugin.CrashLog/ArieTech.Plugin.CrashLog.nuspec' -Version $env:BRANCH_NAME
