name: Release

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
    
env:    
  Solution_Name: 'src/CrashLog.sln'
  GITHUB_PACKAGE_REGISTRY_URL: https://nuget.pkg.github.com/Arietech-GmbH/index.json
  

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    #- name: Verify commit exists in origin/main
    #  run: |
    #    git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
    #    git branch --remote --contains | grep origin/main
             
    - name: Set VERSION variable from tag
      run: echo ("TAG_NAME=" + $env:GITHUB_REF.replace('refs/tags/v', '')) >> $env:GITHUB_ENV
    
    - run: echo $env:TAG_NAME
        
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
      
    - name: Nuget Restore
      run: nuget restore ${{ env.Solution_Name }}
 
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    - name: MSBuild
      run: msbuild ${{ env.Solution_Name }} /p:Configuration=Release /p:Platform="Any CPU"
      
    - name: Nuget Pack
      run: nuget pack 'src/ArieTech.Plugin.CrashLog/ArieTech.Plugin.CrashLog.nuspec' -Version $env:TAG_NAME
    
    - name: Nuget Source
      run: nuget source Add -Name "Arietech" -Source "https://nuget.pkg.github.com/Arietech-GmbH/index.json" -UserName "Arietech" -Password ${{ secrets.GITHUB_TOKEN }}
      
    - name: Push
      run: nuget push "**/*.nupkg" -Source "Arietech" -SkipDuplicate
