name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:    
  SOLUTION_FILE_PATH: 'src'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}
    - name: Build
      run: dotnet build ${{env.SOLUTION_FILE_PATH}} --no-restore
      env:
          OS: ubuntu
